@media (max-width: 575px) {
	body {
		font-size: 1.1em;
	}
	.CodeMirror {
		font-size:1.1em;
		min-height:86%;
	}
	.modal-dialog {
		margin:0rem;
	}
    .appPreview{
        height:50vh;
        border:none;
    }
}
@media (min-width: 576px) {
	body {
		font-size: 1em;
	}
	.CodeMirror {
		font-size:1.1em;
		min-height:60%;
	}
    .appPreview{
        height:80vh;
        border:none;
    }
}

.componentPreview{
    width:100%;
    height:300px;
    border:none;
}
.code{
    border:1px solid gray;
    cursor:text;
}
.code:hover{
    border: 1px solid royalblue;
}
code select,code input,code span {
    width:100%;
    color:black;
}

.form-control:focus {
    box-shadow: 0 0 5px royalblue;
    border: 1px solid royalblue;
}
.form-control:hover {
    border: 1px solid royalblue;
}
.modal-dialog {
    width:100%;
    max-width: 1000px;
}
.modal-body, .modal-header {
    padding: 10px;
}
.modal-body input[type="text"], .modal-body input[type="number"] {
    width:100%;
    color:black;
    border: 1px solid #aaaaaa;
    background: white;
}
.modal-body table{  width:100%; }
.modal-body table td { padding-bottom: 20px}

.collapse-container{
    margin:5px 0px;
    padding:5px;
    border:1px solid lightgray;
    border-radius:5px;
}
.collapse-container-button{
    margin:5px 0px;
    padding:5px;
    padding-left:18px;
    border:1px solid lightgray;
    border-radius:5px;
    cursor: pointer;
    color:blue;
}
.collapse-container-button:hover{
    background: #f6f6ff;
}
.collapsing {
    -webkit-transition: height .2s ease;
    -o-transition: height .2s ease;
    transition: height .2s ease;
}
.collapse-head{
    cursor:pointer;
    color:blue;
    padding-left:10px;
}
.collapse-head:before{
    content: '\25bd';
}
.collapse-head.collapsed:before{
    content: '\25b7';
}
.collapse-container select,.collapse-container input{
    border: 1px solid #aaaaaa;
    background: white;
}

.fa-large {
    font-size: 20px;
    margin:0px 4px;
}
.list-group-item {
    padding: 5px 20px
}
.passive-list-group-item, .passive-list-group-item:hover{
    cursor:default;
    color:black;
}

.editor-transparent{
    height:50px;
    text-align:center;
    padding-top: 20px;
}
.editor-layer{
    background:#ffffdd;
    border:1px solid #ffee00;
    cursor: default;
    color:#aaaa00;
}
.editor-row{
    background:#eeffee;
    color:#008800;
    border:1px solid #00ff00;
    min-height:50px;
}
.editor-row:hover{
    background:#c8ffe8;
}
.editor-col{
    text-align:center;
    background:#ddeeff;
    color:#000088;
    border:1px solid #0067ff;
    overflow:hidden;
}
.editor-col:hover{
    background:#aaddff;
}
.editor-comp{
    text-align:center;
    padding-top:10px;
    border:1px solid #0067ff;
    overflow:hidden;
    height:50px;
}
.editor-selected, .editor-selected:hover{
    border:2px solid #ff0000;
    border-style: dashed;
    background:#ffeeee;
    color:#aa0000;
}